<form class="dar-medicamento-container">
    <div class="infoadd-itemMedicamento">
      <small class="info-title">Medicamento:</small>
      <select name="medicamento" class="inputadd-text" required>
        <option>ACOLAN</option>
        <option>ACTIONIS</option>
        <option>ACUIMIX</option>
      </select>
    </div>
    <div class="infoadd-itemCantidad">
        <small class="info-title">Cantidad:</small>
        <input name="cantidad" type="number" class="inputadd-text" id="cantidad" placeholder="Ingresa la cantidad" required min="1" onkeydown="return false">
    </div>
    <button type="submit" class="dar-button">Dar Medicamento</button>
</form>
