<form class="dar-medicamento-container" (ngSubmit)="darTratamiento()"> 
  <div class="infoadd-itemMedicamento">
    <small class="info-title">Seleccionar Medicamentos:</small>
    <select select [(ngModel)]="medicamentosSeleccionados" name="medicamentos" class="inputadd-text" required>
      <option value="" disabled selected>Selecciona uno</option>
      <option *ngFor="let medicamento of medicamentos" [value]="medicamento.id">
        {{ medicamento.nombre }}
      </option>
    </select>    
  </div>


  <div class="infoadd-itemCantidad">
    <small class="info-title">Cantidad:</small>
    <input [(ngModel)]="cantidad" name="cantidad" type="number" class="inputadd-text" 
           placeholder="Ingresa la cantidad" required min="1" onkeydown="return false">
  </div>

  <div class="infoadd-itemCedula">
    <small class="info-title">C.C. Vet:</small>
    <input 
      name="cc" 
      class="inputadd-text" 
      id="ccVet" 
      placeholder="Ingresa la cédula"
      [value]="cedulaVet" 
      [readonly]="userType === 'vet'" 
      [disabled]="userType === 'vet'"
      [(ngModel)]="cedulaVet" 
      required>
  </div>

  <button type="submit" class="dar-button">Dar Medicamento</button>
</form>
