<header *ngIf="userType === 'admin'">
    <app-header-admin-mascotas [userType]="'admin'"></app-header-admin-mascotas>
  </header>
  <section class = "content">
      <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
      <p class="segundoTitulo">Aquí están todos los veterinarios:</p>
      <!--Búsqueda por ID-->
      <form (ngSubmit)="buscarVet(vetId)" class="buscador-form">
          <input [(ngModel)]="vetId" name="id" class="buscador-input" placeholder="Buscar por nombre" required>
          <button type="submit" class="buscador-button">Buscar</button>
      </form>
      <!--Enlace para ver todas las mascotas-->
      <a routerLink="/veterinarios/todos" class="todas-button">+ Ver todos los veterinarios</a>
      <p class="tercerTitulo">Agrega veterinarios:</p>    
      <app-carrusel-veterinarios [veterinarios]="veterinarios"></app-carrusel-veterinarios>
      <app-formulario-agregar-veterinario></app-formulario-agregar-veterinario>      
  </section>