<header>
    <app-header-home></app-header-home>
</header>
<section class="content">
      <p class="primerTitulo">¡Recuerda, tus credenciales son únicas!</p>
      <img class="perroPortadaRosa" src="../assets/goldenPortadaRosa.png" alt="Perro Principal Rosa">
      <img class="perroPortada" src="../assets/goldenPortada.png" alt="Perro Principal">
      <img class="gatoPortadaAzul" src="../assets/gatoPortadaAzul.png" alt="Gato Principal Azul">
      <img class="gatoPortada" src="../assets/gatoPortada.png" alt="Gato Principal">
      <app-container-sesion-form-administrador></app-container-sesion-form-administrador>

</section>
  