<header>
    <!-- Componente del encabezado que representa la página de inicio -->
    <app-header-home></app-header-home>
</header>

<section class="content">
    <!-- Título principal que recuerda a los usuarios sobre la unicidad de sus credenciales -->
    <p class="primerTitulo">¡Recuerda, tus credenciales son únicas!</p>

    <!-- Imagen del perro con fondo rosa -->
    <img class="perroPortadaRosa" src="../assets/goldenPortadaRosa.png" alt="Perro Principal Rosa">
    
    <!-- Imagen del perro principal -->
    <img class="perroPortada" src="../assets/goldenPortada.png" alt="Perro Principal">
    
    <!-- Imagen del gato con fondo azul -->
    <img class="gatoPortadaAzul" src="../assets/gatoPortadaAzul.png" alt="Gato Principal Azul">
    
    <!-- Imagen del gato principal -->
    <img class="gatoPortada" src="../assets/gatoPortada.png" alt="Gato Principal">

    <!-- Componente del formulario de sesión para el administrador -->
    <app-container-sesion-form-administrador></app-container-sesion-form-administrador>
</section>
