<form #mascotaForm="ngForm" (ngSubmit)="agregarMascota(mascotaForm)" class="agregar-container">
    <div class="infoadd-itemNombre">
        <small class="info-title">Nombre:</small>
        <input [(ngModel)]="nuevaMascota.nombre" name="nombre" class="inputadd-text" id="nombre" placeholder="Ingresa el nombre" required #nombre="ngModel">
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
            El nombre es requerido.
        </div>
    </div>
    <div class="infoadd-itemRaza">
        <small class="info-title">Raza:</small>
        <input [(ngModel)]="nuevaMascota.raza" name="raza" class="inputadd-text" id="raza" placeholder="Ingresa la raza" required #raza="ngModel">
        <div *ngIf="raza.invalid && (raza.dirty || raza.touched)" class="error">
            La raza es requerida.
        </div>
    </div>
    <div class="infoadd-itemEdad">
        <small class="info-title">Edad:</small>
        <input [(ngModel)]="nuevaMascota.edad" name="edad" type="number" class="inputadd-text" id="edad" placeholder="Ingresa la edad" required #edad="ngModel">
        <div *ngIf="edad.invalid && (edad.dirty || edad.touched)" class="error">
            La edad es requerida.
        </div>
    </div>
    <div class="infoadd-itemPeso">
        <small class="info-title">Peso:</small>
        <input [(ngModel)]="nuevaMascota.peso" name="peso" type="number" class="inputadd-text" id="peso" placeholder="Ingresa el peso" required #peso="ngModel">
        <div *ngIf="peso.invalid && (peso.dirty || peso.touched)" class="error">
            El peso es requerido.
        </div>
    </div>
    <div class="infoadd-itemEnfermedad">
        <small class="info-title">Enfermedad:</small>
        <input [(ngModel)]="nuevaMascota.enfermedad" name="enfermedad" class="inputadd-text" id="enfermedad" placeholder="Ingresa la enfermedad" required #enfermedad="ngModel">
        <div *ngIf="enfermedad.invalid && (enfermedad.dirty || enfermedad.touched)" class="error">
            La enfermedad es requerida.
        </div>
    </div>
    <div class="infoadd-itemDueño">
        <small class="info-title">Dueño C.C.:</small>
        <input [(ngModel)]="nuevaMascota.cedulaCliente" name="cliente" class="inputadd-text" id="dueno" placeholder="Ingresa la cédula" required #cliente="ngModel">
        <div *ngIf="cliente.invalid && (cliente.dirty || cliente.touched)" class="error">
            La cédula del dueño es requerida.
        </div>
    </div>
    <div class="infoadd-itemEstado">
        <small class="info-title">Estado:</small>
        <select [(ngModel)]="nuevaMascota.estado" name="estado" class="inputadd-text" required #estado="ngModel">
            <option [value]="true">Activo</option>
            <option [value]="false">Inactivo</option>
        </select>
        <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="error">
            El estado es requerido.
        </div>
    </div>
    <div class="infoadd-itemURL">
        <small class="info-title">URL:</small>
        <input [(ngModel)]="nuevaMascota.foto" name="foto" class="inputadd-text" id="url" placeholder="Ingresa la URL de la foto" required #foto="ngModel">
        <div *ngIf="foto.invalid && (foto.dirty || foto.touched)" class="error">
            La URL de la foto es requerida.
        </div>
    </div>
    <button type="submit" class="agregar-button" [disabled]="mascotaForm.invalid">Agregar Mascota</button>
  </form>