<header *ngIf="userType === 'admin'">
    <app-header-admin-mascotas [userType]="'admin'"></app-header-admin-mascotas>
  </header>
  <header *ngIf="userType === 'vet'">
    <app-header-admin-mascotas [userType]="'vet'"></app-header-admin-mascotas>
  </header>
  <section class="content">
      <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
      <p *ngIf="userType === 'vet'" class="primerTitulo">Hola, vet</p>
      <p class="segundoTitulo">Aquí está la información del cliente:</p>
      <p class="tercerTitulo">Sus mascotas:</p>
      <app-informacion-cliente [mascotaForm]="mascotaForm" [cliente]="cliente" [isEditMode]="isEditMode"></app-informacion-cliente>
      <div *ngIf="cliente.mascotas && cliente.mascotas.length > 0">
        <app-carrusel-mascotas [mascotas]="cliente.mascotas"></app-carrusel-mascotas>
      </div>
    </section>
    