<header *ngIf="userType === 'admin'">
    <app-header-admin-mascotas [userType]="'admin'"></app-header-admin-mascotas>
  </header>
  <header *ngIf="userType === 'vet'">
    <app-header-admin-mascotas [userType]="'vet'"></app-header-admin-mascotas>
  </header>
  <section class="content">
      <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
      <p *ngIf="userType === 'vet'" class="primerTitulo">Hola, vet</p>
      <p class="segundoTitulo">Aquí está la información del cliente:</p>
      <p class="tercerTitulo">Sus mascotas:</p>
      <app-informacion-cliente [mascotaForm]="mascotaForm" [mascota]="mascota" [isEditMode]="isEditMode"></app-informacion-cliente>
      <app-carrusel-mascotas [mascotas]="mascotas" [marginTop]="'460px'" [left]="'30px'"></app-carrusel-mascotas>
    </section>
    