<form #clienteForm="ngForm" (ngSubmit)="agregarCliente(clienteForm)" class="agregar-container">
    <div class="infoadd-itemNombre">
        <small class="info-title">Nombre:</small>
        <input 
            [(ngModel)]="nuevoCliente.nombre"
            name="nombre"
            class="inputadd-text" 
            id="nombre" 
            placeholder="Ingresa el nombre" 
            required 
            #nombre="ngModel"
        >
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
            El nombre es requerido.
        </div>
    </div>
    <div class="infoadd-itemCedula">
        <small class="info-title">Cédula:</small>
        <input 
            [(ngModel)]="nuevoCliente.cedula" 
            name="cedula" 
            type="number" 
            class="inputadd-text" 
            id="cedula" 
            placeholder="Ingresa la cédula" 
            required
            #cedula="ngModel"
        >
        <div *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)" class="error">
            La cédula es requerida.
        </div>
    </div>
    <div class="infoadd-itemCorreo">
        <small class="info-title">Correo:</small>
        <input 
            [(ngModel)]="nuevoCliente.correo"
            name="correo" 
            type="email"  
            class="inputadd-text"  
            id="correo"  
            placeholder="Ingresa el correo"  
            required  
            #correo="ngModel"
        >
        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="error">
            El correo es requerido y debe ser válido.
        </div>
    </div>
    <div class="infoadd-itemCelular">
        <small class="info-title">Celular:</small>
        <input 
            [(ngModel)]="nuevoCliente.celular"
            name="celular"
            type="tel"
            class="inputadd-text"
            id="celular"
            placeholder="Ingresa el celular"
            required
            #celular="ngModel"
        >
        <div *ngIf="celular.invalid && (celular.dirty || celular.touched)" class="error">
            El celular es requerido.
        </div>
    </div>
    <button type="submit" class="agregar-button" [disabled]="clienteForm.invalid">Agregar Cliente</button>
</form>