<form (ngSubmit)="agregarMascota()" class="agregar-container">
    <div class="infoadd-itemNombre">
        <small class="info-title">Nombre:</small>
        <input [(ngModel)]="nuevoCliente.nombre" name="nombre" class="inputadd-text" id="nombre" placeholder="Ingresa el nombre" required>
    </div>
    <div class="infoadd-itemCedula">
        <small class="info-title">Cédula:</small>
        <input [(ngModel)]="nuevoCliente.cedula" name="cedula" class="number" class="inputadd-text" id="cedula" placeholder="Ingresa la cédula" required>
    </div>
    <div class="infoadd-itemCorreo">
        <small class="info-title">Correo:</small>
        <input [(ngModel)]="nuevoCliente.correo" name="correo" type="inputadd-text" class="inputadd-text" id="correo" placeholder="Ingresa el correo" required>
    </div>
    <div class="infoadd-itemCelular">
        <small class="info-title">Celular:</small>
        <input [(ngModel)]="nuevoCliente.celular" name="celular" type="number" class="inputadd-text" id="celular" placeholder="Ingresa el celular" required>
    </div>
    <button type="submit" class="agregar-button">Agregar Cliente</button>
</form>
