<div class="container-inicializar"> <!-- Contenedor principal que agrupa los elementos relacionados a la visualización de la cantidad total de veterinarios activos -->
  <p class="subTitulo">Cantidad de veterinarios activos en la plataforma:</p> <!-- Subtítulo que indica la cantidad de veterinarios activos -->
  <p class="numero">{{ totalVeterinariosActivos }}</p> <!-- Muestra la cantidad total de veterinarios activos; el valor se extrae de la variable totalVeterinariosActivos del componente -->
</div>
