<!-- El encabezado solo se mostrará si el tipo de usuario es 'admin' -->
<header *ngIf="userType === 'admin'">
  <!-- Componente de encabezado específico para administradores, pasando 'admin' como tipo de usuario -->
  <app-header-admin-mascotas [userType]="'admin'"></app-header-admin-mascotas>
</header>

<!-- Sección de contenido principal -->
<section class="content">
  <!-- Mensaje de saludo que se muestra solo si el tipo de usuario es 'admin' -->
  <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
  <!-- Título secundario para la sección de veterinarios -->
  <p class="segundoTitulo">Navega por los vets:</p>
  
  <!-- Componente que muestra la lista de veterinarios, pasando las propiedades necesarias -->
  <app-veterinario-item
      [veterinarios]="veterinarios"
      [currentPage]="currentPage" 
      [itemsPerPage]="itemsPerPage">
  </app-veterinario-item>
</section>