<div class="carrusel-container" [ngStyle]="{'margin-top': marginTop, 'left': left}"  *ngIf="mascotas.length > 0">
    <button class="carrusel-prev" (click)="cambiarMascota(-1)">
        <img src="../assets/previous.png" alt="Regreso">
    </button>
    <div class="carrusel" #carrusel>
        <div class="mascota-item" *ngFor="let mascota of mascotas; let i = index" [ngStyle]="{'display': i === index ? 'block' : 'none'}">
            <div class="mascota-info">
                <img [src]="mascota.foto" [alt]="'Foto de ' + mascota.nombre" class="mascota-foto">
                <img *ngIf="mascota?.estado === false" class="estadoimg" src="/assets/wrong.png" alt="Estado Inactivo">
                <img *ngIf="mascota?.estado === true" class="estadoimg" src="/assets/check.png" alt="Estado Activo">
                <div class="info-itemNombre">
                    <small class="info-title">Nombre:</small>
                    <label class="info-label">{{ mascota.nombre }}</label>
                </div>
                <div class="info-itemRaza">
                    <small class="info-title">Raza:</small>
                    <label class="info-label">{{ mascota.raza }}</label>
                </div>
                <div class="info-itemEdad">
                    <small class="info-title">Edad:</small>
                    <label class="info-label">{{ mascota.edad }}</label>
                </div>
                <div class="info-itemPeso">
                    <small class="info-title">Peso:</small>
                    <label class="info-label">{{ mascota.peso }} kg</label>
                </div>
                <div class="info-itemEnfermedad">
                    <small class="info-title">Enfermedad:</small>
                    <label class="info-label">{{ mascota.enfermedad }}</label>
                </div>
                <a class="info-button" [routerLink]="['/mascota', mascota.id]">+ Info</a>
            </div>
        </div>
    </div>
    <button class="carrusel-next" (click)="cambiarMascota(1)">
        <img src="assets/next.png" alt="Siguiente">
    </button>
</div>
