<div class="carrusel-container" *ngIf="veterinarios.length > 0">
    <button class="carrusel-prev" (click)="cambiarVeterinario(-1)">
        <img src="../assets/previous.png" alt="Regreso">
    </button>
    <div class="carrusel">
        <div class="veterinario-item" *ngFor="let veterinario of veterinarios; let i = index" [ngStyle]="{'display': i === index ? 'block' : 'none'}">
            <div class="veterinario-info">
                <img [src]="veterinario.foto" [alt]="'Foto de ' + veterinario.nombre" class="veterinario-foto">
                <img *ngIf="veterinario?.estado === false" class="estadoimg" src="/assets/wrong.png" alt="Estado Inactivo">
                <img *ngIf="veterinario?.estado === true" class="estadoimg" src="/assets/check.png" alt="Estado Activo">
                <div class="info-itemNombre">
                    <small class="info-title">Nombre:</small>
                    <label class="info-label">{{ veterinario.nombre }}</label>
                </div>
                <div class="info-itemCedula">
                    <small class="info-title">Cedula:</small>
                    <label class="info-label">{{ veterinario.cedula }}</label>
                </div>
                <div class="info-itemEspecialidad">
                    <small class="info-title">Especialidad:</small>
                    <label class="info-label">{{ veterinario.especialidad }}</label>
                </div>
                <a class="info-button" [routerLink]="['/veterinario', veterinario.cedula]">+ Info</a>
            </div>
        </div>
    </div>
    <button class="carrusel-next" (click)="cambiarVeterinario(1)">
        <img src="assets/next.png" alt="Siguiente">
    </button>
</div>