<!-- Contenedor principal para la sección de inicialización -->
<div class="container-inicializar">
  <!-- Subtítulo que indica la información mostrada sobre tratamientos por tipo de medicamento -->
  <p class="subTitulo">Top 3 tratamientos con más unidades vendidas:</p>
  <!-- Componente personalizado que muestra un carrusel con los medicamentos -->
  <!-- Se le pasa la propiedad 'medicamentos' que contiene la información necesaria para el carrusel -->
  <app-carrusel-top-medicamentos [top3Tratamientos]="top3Tratamientos"></app-carrusel-top-medicamentos>
</div>
