<!-- Contenedor principal para la sección de inicialización -->
<div class="container-inicializar">
  <!-- Subtítulo que indica la información mostrada sobre tratamientos por tipo de medicamento -->
  <p class="subTitulo">Cantidad de tratamientos por tipo de medicamento administrado en el último mes:</p>
  <p class="numero">3</p>
  <!-- Componente personalizado que muestra un carrusel con los medicamentos -->
  <!-- Se le pasa la propiedad 'medicamentos' que contiene la información necesaria para el carrusel -->
  <app-carrusel-top-medicamentos [medicamentos]="medicamentos"></app-carrusel-top-medicamentos>
</div>
