<app-header-equipo></app-header-equipo>
<div class="carousel-container">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../assets/equipo1.png" alt="Imagen 1">
            <div class="slide-text">Somos PetVetCare.</div>
        </div>
        <div class="mySlides fade">
            <img src="../assets/equipo2.png" alt="Imagen 2">
            <div class="slide-text">Cuidando.</div>
        </div>
        <div class="mySlides fade">
            <img src="../assets/equipo3.png" alt="Imagen 3">
            <div class="slide-text">Amando.</div>
        </div>
    </div>
</div>
<div class="container-pilares">
    <div class="image-container">
        <img class="img" src="../assets/huella1.png" alt="Imagen de fondo">
        <div class="text-overlay">
            <h2>Amor</h2>
        </div>
        <img class="img" src="../assets/huella2.png" alt="Imagen de fondo">
        <div class="text-overlay2">
            <h2>Cariño</h2>
        </div>
        <img class="img" src="../assets/huella3.png" alt="Imagen de fondo">
        <div class="text-overlay3">
            <h2>Cuidado</h2>
        </div>
        <img class="img" src="../assets/huella4.png" alt="Imagen de fondo">
        <div class="text-overlay4">
            <h2>Respeto</h2>
        </div>
    </div>
    <p class="primerTitulo">¡Queremos dejar muchasssssssssss huellas!</p>
</div>
<div class="container-equipo">
    <p class="tercerTitulo">Nuestro equipo capacitado</p>
    <div class="containerEquipo1">
        <p class="medico1">Dr. Alejandro Espitia Ramírez<br>PhD en Clínica Médica y Quirúrjica de Pequeños Animales<br>Universidad de La Salle</p>
        <img class="medico1img" src="../assets/medico1.png" alt="Medico 1">
        <img class="medico1huella" src="../assets/huella.png" alt="Huella 1">
    </div>
    <div class="containerEquipo2">
        <p class="medico2">Dra. Manuela Barragán León<br>Veterinary Preventive Medicine, Epidemiology, and Public Health<br>Stanford University</p>
        <img class="medico2img" src="../assets/medico2.png" alt="Medico 2">
        <img class="medico2huella" src="../assets/huella.png" alt="Huella 2">
    </div>
    <div class="containerEquipo3">
        <p class="medico3">Dr. Christopher Varón Sánchez<br>Master Ciencias veterinarias/Ciencias clínicas veterinarias, general<br>Universidad de Antioquía</p>
        <img class="medico3img" src="../assets/medico3.png" alt="Medico 3">
        <img class="medico3huella" src="../assets/huella.png" alt="Huella 3">
    </div>
    <div class="containerEquipo4">
        <p class="medico4">Equipo de apoyo especializado<br>Masters en Ciencias, Enfermeros, Tranportistas capacitas, entre otros<br>100% certificados</p>
        <img class="medico4img" src="../assets/medico4.png" alt="Medico 4">
        <img class="medico4huella" src="../assets/huella.png" alt="Huella 4">
    </div>
</div>
<div class="container-mision">
    <p class="cuartoTitulo">Misión:</p>
    <p class="subtitulo1">En PawVetCare, nuestra misión es proporcionar un cuidado integral y compasivo a todas las mascotas, 
        garantizando su bienestar y felicidad. Nos comprometemos a ofrecer servicios veterinarios de alta calidad mediante el
         uso de tecnologías avanzadas, un equipo de profesionales altamente capacitados y una atención personalizada que 
         exceda las expectativas de nuestros clientes. Trabajamos incansablemente para crear un entorno seguro y amoroso 
         donde cada mascota se sienta como en casa y cada propietario reciba el apoyo y la información necesarios para tomar 
         decisiones informadas sobre la salud de sus amigos peludos.</p>
</div>
<div class="container-vision">
    <p class="quintoTitulo">:Visión</p>
    <p class="subtitulo2">Nuestra visión es ser la clínica veterinaria líder en Latinoamérica, reconocida por nuestro compromiso 
        con la excelencia en el cuidado de las mascotas y nuestra dedicación a la innovación y la educación en salud animal. 
        Aspiramos a ser un referente en la comunidad veterinaria, promoviendo prácticas sostenibles y éticas, y contribuyendo 
        al bienestar de todas las mascotas y sus familias. Queremos crear un futuro donde cada mascota tenga acceso a cuidados
         de primera clase y cada propietario se sienta empoderado y respaldado en el cuidado de sus animales.</p>
</div>