<header>
    <!-- Incluimos el componente 'app-header-home' dentro del encabezado (header), que representa el header de la página -->
    <app-header-home></app-header-home>
</header>

<section class="content">
    <!-- Párrafo con la clase 'primerTitulo', que contiene el título principal de la sección -->
    <p class="primerTitulo">¡Tú peludo está en buenas manos!</p>

    <!-- Imagen del perro principal con fondo rosa, utilizando una ruta relativa a los assets -->
    <img class="perroPortadaRosa" src="../assets/goldenPortadaRosa.png" alt="Perro Principal Rosa">

    <!-- Imagen del perro principal sin fondo rosa -->
    <img class="perroPortada" src="../assets/goldenPortada.png" alt="Perro Principal">

    <!-- Imagen del gato principal con fondo azul -->
    <img class="gatoPortadaAzul" src="../assets/gatoPortadaAzul.png" alt="Gato Principal Azul">

    <!-- Imagen del gato principal sin fondo azul -->
    <img class="gatoPortada" src="../assets/gatoPortada.png" alt="Gato Principal">

    <!-- Componente del formulario de registro del cliente, que se muestra dentro de esta sección -->
    <app-container-registro-form-cliente></app-container-registro-form-cliente>
</section>