<header class="top-bar">
    <a routerLink="/">
        <img src="../assets/isologoAzul.png" alt="Logo Azul">
    </a>
    <nav>
        <div class="header-menu">
            <a routerLink="/" class="header-menu-item">HOME</a>
            <a routerLink="/equipo" class="header-menu-item">EQUIPO</a>
            <a routerLink="/contacto" class="header-menu-item selected">CONTACTO<div class="indicator"></div></a>
        </div>
    </nav>
    <div class="button-container">
        <a routerLink="/iniciarSesion/sesiones" class="buttonSoyPVC">Soy PVC</a>
        <a routerLink="/registro" class="buttonSinCuenta">NO TENGO CUENTA</a>
    </div>
</header>