<header *ngIf="userType === 'admin'">
    <app-header-admin-mascotas [userType]="'admin'"></app-header-admin-mascotas>
  </header>
  <section class="content">
      <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
      <p class="segundoTitulo">Inicializa los datos de los medicamentos:</p>
      <app-container-inicializar></app-container-inicializar>
      <p class="tercerTitulo">Medicamentos:</p>
      <a routerLink="/medicamentos/todos" class="todas-button">+ Ver todos los medicamentos</a>
      <app-carrusel-medicamentos [mascotas]="mascotas"></app-carrusel-medicamentos>
  </section>
  