<div class="clientes-container" id="clientesContainer">
    <div *ngFor="let mascota of mascotasPagina" class="cliente-item">
      <div class="cliente-info">
        <div class="info-itemNombre"><small class="info-title">Nombre:</small><label class="info-label">{{mascota.nombre}}</label></div>
        <div class="info-itemCedula"><small class="info-title">Cédula:</small><label class="info-label">{{mascota.cedula}}</label></div>
        <div class="info-itemCorreo"><small class="info-title">Correo:</small><label class="info-label">{{mascota.correo}}</label></div>
        <div class="info-itemCelular"><small class="info-title">Celular:</small><label class="info-label">{{mascota.celular}}</label></div>
        <a class="info-button" [routerLink]="['/cliente', mascota.cedula]">+ Info</a>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Pagina {{currentPage}} de {{totalPages}}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
