<div class="carrusel-container" *ngIf="medicamentos.length > 0">
    <button class="carrusel-prev" (click)="cambiarMedicamento(-1)">
        <img src="../assets/previous.png" alt="Regreso">
    </button>
    <div class="carrusel">
        <div class="medicamento-item" *ngFor="let medicamento of medicamentos; let i = index" [ngStyle]="{'display': i === index ? 'block' : 'none'}">
            <div class="medicamento-info">
                <div class="info-itemNombre">
                    <small class="info-title">Nombre:</small>
                    <label class="info-label">{{ medicamento.nombre }}</label>
                </div>
                <div class="info-itemPrecioVenta">
                    <small class="info-title">P. venta:</small>
                    <label class="info-label">{{ medicamento.precio_venta }}</label>
                </div>
                <div class="info-itemPrecioCompra">
                    <small class="info-title">P. compra:</small>
                    <label class="info-label">{{ medicamento.precio_compra }}</label>
                </div>
                <div class="info-itemCantidad">
                    <small class="info-title">Cant. Tratamientos:</small>
                    <label class="info-label">{{ medicamento.unidades_disponibles }}</label>
                </div>
            </div>
        </div>
    </div>
    <button class="carrusel-next" (click)="cambiarMedicamento(1)">
        <img src="assets/next.png" alt="Siguiente">
    </button>
</div>