<header>
    <!-- Componente del encabezado principal de la página de inicio -->
    <app-header-home></app-header-home>
</header>

<section class="content">
    <!-- Mensaje principal de bienvenida o slogan -->
    <p class="primerTitulo">¡Tú peludo está en buenas manos!</p>

    <!-- Imágenes de portada representando mascotas -->
    <!-- Imagen de un perro con un fondo rosa -->
    <img class="perroPortadaRosa" src="../assets/goldenPortadaRosa.png" alt="Perro dorado sobre fondo rosa">
    
    <!-- Imagen de un perro con fondo neutro o transparente -->
    <img class="perroPortada" src="../assets/goldenPortada.png" alt="Perro dorado">
    
    <!-- Imagen de un gato con un fondo azul -->
    <img class="gatoPortadaAzul" src="../assets/gatoPortadaAzul.png" alt="Gato gris sobre fondo azul">
    
    <!-- Imagen de un gato con fondo neutro o transparente -->
    <img class="gatoPortada" src="../assets/gatoPortada.png" alt="Gato gris">
    
    <!-- Componente que contiene el formulario para la sesión del cliente -->
    <app-container-sesion-form-cliente></app-container-sesion-form-cliente>
</section>
