<div class="medicamentos-container" id="medicamentosContainer">
    <div *ngFor="let mascota of mascotasPagina" class="medicamento-item">
      <div class="medicamento-info">
        <div class="info-itemNombre"><small class="info-title">Nombre:</small><label class="info-label">{{mascota.nombre}}</label></div>
        <div class="info-itemPrecioVenta"><small class="info-title">P. Venta:</small><label class="info-label">{{mascota.raza}}</label></div>
        <div class="info-itemPrecioCompra"><small class="info-title">P. Compra:</small><label class="info-label">{{mascota.edad}}</label></div>
        <div class="info-itemUnidadesDisponibles"><small class="info-title">Uni. Disp:</small><label class="info-label">{{mascota.peso}}</label></div>
        <div class="info-itemUnidadesVendidas"><small class="info-title">Uni. Vend:</small><label class="info-label">{{mascota.peso}}</label></div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Pagina {{currentPage}} de {{totalPages}}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Siguiente</button>
</div>