<a routerLink="/iniciarSesion/cliente"> <!-- Enlace que redirige a la página de inicio de sesión del cliente -->
    <div class="container-cliente"> <!-- Contenedor principal para los elementos del cliente -->
        <p class="text-cliente">¡Ya cuido a mi mascota!</p> <!-- Texto que invita al usuario, indicando que ya está cuidando a su mascota -->
        <img class="img-cliente" src="../assets/clienteInicio.png" alt=""> <!-- Imagen representativa para el cliente, muestra un gráfico o ícono relacionado -->
    </div>
</a>
