<div class="veterinarios-container" id="veterinariosContainer">
    <div *ngFor="let veterinario of veterinariosPagina" class="veterinario-item">
      <div class="veterinario-info">
        <img class="veterinario-foto" [src]="veterinario.foto" [alt]="'Foto de ' + veterinario.nombre">
        <img class="estadoimg" [src]="'/assets/' + (veterinario.estado ? 'check' : 'wrong') + '.png'" [alt]="'Estado ' + (veterinario.estado ? 'Activo' : 'Inactivo')" class="estadoimg">
        <div class="info-itemNombre"><small class="info-title">Nombre:</small><label class="info-label">{{veterinario.nombre}}</label></div>
        <div class="info-itemCedula"><small class="info-title">Cédula:</small><label class="info-label">{{veterinario.cedula}}</label></div>
        <div class="info-itemEspecialidad"><small class="info-title">Especialidad:</small><label class="info-label">{{veterinario.especialidad}}</label></div>
        <a class="info-button" [routerLink]="['/veterinario', veterinario.cedula]">+ Info</a>
      </div>
    </div>
  </div>
<div class="pagination">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Pagina {{currentPage}} de {{totalPages}}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
  