<div class="container-informacion">
    <form [formGroup]="veterinarioForm" class="containerVeterinario">    
      <p class="tituloEditar">Editar</p>
      <p class="tituloEliminar">Eliminar</p>
      
      <div class="info-item">
        <small class="info-title">Nombre:</small>
        <input class="info-label" formControlName="nombre">
      </div>
  
      <div class="info-itemCedula">
        <small class="info-title">Cédula:</small>
        <input class="info-label" formControlName="cedula">
      </div>
  
      <div class="info-itemEspecialidad">
        <small class="info-title">Especialidad:</small>
        <input class="info-label" formControlName="especialidad">
      </div>
  
      <div class="info-itemFoto">
        <small class="info-title">URL Foto:</small>
        <input class="info-label" formControlName="foto">
      </div>

      <img class="veterinarioimg" [src]="veterinarioForm.get('foto')?.value || '/assets/errorMascota.png'" alt="Foto del veterinario">
  
      <div *ngIf="userType === 'admin' || userType === 'vet'" class="container-botones">
        <button class="editar-btn" id="editarBtn" type="button" (click)="toggleEditMode()">
          <span class="icon">✎</span>
          <span class="text">{{ isEditMode ? 'Guardar' : 'Editar todo' }}</span>
        </button>
      </div>
    </form>
  
    <!-- Botón para eliminar -->
    <form *ngIf="userType === 'admin' || userType === 'vet'">
      <button *ngIf="userType === 'admin' || userType === 'vet'" class="eliminar-btn" id="eliminarBtn" type="button" (click)="toggleEliminar()">
        <span class="icon">x</span>
        <span class="text">Eliminar</span>
      </button>
    </form>
  </div>
  