<div class="container-informacion">
  <!-- Formulario para editar la información del veterinario -->
  <form [formGroup]="veterinarioForm" class="containerVeterinario">
    <!-- Título de la sección de edición -->
    <p class="tituloEditar">Editar</p>
    <!-- Título de la sección de eliminación -->
    <p class="tituloEliminar">Eliminar</p>

    <!-- Mostrar el estado del veterinario usando una imagen, dependiendo de si está activo o inactivo -->
    <img *ngIf="veterinario?.estado === false" class="estadoimg" src="/assets/wrong.png" alt="Estado Inactivo">
    <img *ngIf="veterinario?.estado === true" class="estadoimg" src="/assets/check.png" alt="Estado Activo">
    
    <!-- Campo para editar el nombre del veterinario -->
    <div class="info-item">
      <small class="info-title">Nombre:</small>
      <input class="info-label" formControlName="nombre">
    </div>

    <!-- Campo para editar la cédula del veterinario -->
    <div class="info-itemCedula">
      <small class="info-title">Cédula:</small>
      <input class="info-label" formControlName="cedula">
    </div>

    <!-- Campo para editar la nombreEspecialidad del veterinario -->
    <div class="info-itemEspecialidad">
      <small class="info-title">Especialidad:</small>
      <input class="info-label" formControlName="nombreEspecialidad">
    </div>

    <!-- Campo para editar la URL de la foto del veterinario -->
    <div class="info-itemFoto">
      <small class="info-title">URL Foto:</small>
      <input class="info-label" formControlName="foto">
    </div>

    <!-- Campo para seleccionar el estado del veterinario (Activo o Inactivo) -->
    <div class="info-itemEstado">
      <small class="info-title">Estado:</small>
      <select id="state" class="info-select" formControlName="estado">
        <option [ngValue]="true">Activo</option>
        <option [ngValue]="false">Inactivo</option>
      </select>
    </div>

    <!-- Mostrar la imagen del veterinario; si no hay URL de foto, se muestra una imagen de error -->
    <img class="veterinarioimg" [src]="veterinarioForm.get('foto')?.value || '/assets/errorMascota.png'" alt="Foto del veterinario">

    <!-- Botón de edición disponible para admin o veterinario -->
    <div *ngIf="userType === 'admin' || userType === 'vet'" class="container-botones">
      <button class="editar-btn" id="editarBtn" type="button" (click)="toggleEditMode()">
        <span class="icon">✎</span>
        <!-- El texto del botón cambia según si está en modo de edición o no -->
        <span class="text">{{ isEditMode ? 'Guardar' : 'Editar todo' }}</span>
      </button>
    </div>
  </form>

  <!-- Formulario para eliminar al veterinario, disponible solo para admin o veterinario -->
  <form *ngIf="userType === 'admin' || userType === 'vet'">
    <button *ngIf="userType === 'admin' || userType === 'vet'" class="eliminar-btn" id="eliminarBtn" type="button" (click)="toggleEliminar()">
      <span class="icon">x</span>
      <span class="text">Eliminar</span>
    </button>
  </form>
</div>