<div class="carrusel-container" *ngIf="tratamientos.length > 0">
    <button class="carrusel-prev" (click)="cambiarTratamiento(-1)">
        <img src="../assets/previous.png" alt="Regreso">
    </button>

    <div class="carrusel">
        <div class="medicamento-item" 
             *ngFor="let tratamiento of tratamientos; let i = index" 
             [ngStyle]="{'display': i === index ? 'block' : 'none'}">
            <div class="medicamento-info">
                
                <div class="info-itemNombre">
                    <small class="info-title">Medicamento:</small>
                    <label class="info-label">
                        {{ obtenerNombreMedicamento(tratamiento.tratamientoMedicamentos[0].medicamentoId) || 'N/A' }}
                    </label>
                </div>                

                <div class="info-itemVeterinario">
                    <small class="info-title">Fecha:</small>
                    <label class="info-label">{{ tratamiento.fecha | date:'yyyy-MM-dd' }}</label>
                </div>

                <div class="info-itemFecha">
                    <small class="info-title">Veterinario:</small>
                    <label class="info-label">
                        {{ tratamiento.veterinario?.id || 'Sin ID' }}
                      </label>                                                               
                    <!-- Imprime el nombre del veterinario -->
                </div>

            </div>
        </div>
    </div>

    <button class="carrusel-next" (click)="cambiarTratamiento(1)">
        <img src="assets/next.png" alt="Siguiente">
    </button>
</div>
