<app-header-admin-mascotas></app-header-admin-mascotas>
<section class="content">
    <p class="primerTitulo">Hola, admin</p>
    <p class="segundoTitulo">Aquí están todas las mascotas:</p>    
    <a routerLink="/admin/mascotas/todas" class="todas-button">+ Ver todas las mascotas</a>
    <p class="tercerTitulo">Agrega mascotas:</p>
    <div class="carrusel-container">
        <button class="carrusel-prev">
            <img src="../assets/previous.png" alt="Regreso">
        </button>
        <div class="carrusel">
            <div class="mascota-item" >
                <div class="mascota-info">
                    <img class="mascota-foto">
                    <img class="estadoimg" id="estadoImg" src="../assets/check.png" alt="Estado">
                    <img class="estadoimg" id="estadoImg" src="../assets/wrong.png" alt="Estado">
                    <div class="info-itemNombre">
                        <small class="info-title">Nombre:</small>
                        <label class="info-label"> </label>
                    </div>
                    <div class="info-itemRaza">
                        <small class="info-title">Raza:</small>
                        <label class="info-label"> </label>
                    </div>
                    <div class="info-itemEdad">
                        <small class="info-title">Edad:</small>
                        <label class="info-label"> </label>
                    </div>
                    <div class="info-itemPeso">
                        <small class="info-title">Peso:</small>
                        <label class="info-label"> </label>
                    </div>
                    <div class="info-itemEnfermedad">
                        <small class="info-title">Enfermedad:</small>
                        <label class="info-label"> </label>
                    </div>
                    <a class="info-button">+ Info</a>
                </div>
            </div>
        </div>
        <button class="carrusel-next" >
            <img src="../assets/next.png" alt="Siguiente">
        </button>
    </div>
    <form class="agregar-container">
        <div class="infoadd-itemNombre">
            <small class="info-title">Nombre:</small>
            <input type="text" class="inputadd-text" name="nombre" placeholder="Ingresa el nombre" required>
        </div>
        <div class="infoadd-itemRaza">
            <small class="info-title">Raza:</small>
            <input type="text" class="inputadd-text" name="raza" placeholder="Ingresa la raza" required>
        </div>
        <div class="infoadd-itemEdad">
            <small class="info-title">Edad:</small>
            <input type="number" class="inputadd-text" name="edad" placeholder="Ingresa la edad" required>
        </div>
        <div class="infoadd-itemPeso">
            <small class="info-title">Peso:</small>
            <input type="number" class="inputadd-text" name="peso" placeholder="Ingresa el peso" required>
        </div>
        <div class="infoadd-itemEnfermedad">
            <small class="info-title">Enfermedad:</small>
            <input type="text" class="inputadd-text" name="enfermedad" placeholder="Ingresa la enfermedad" required>
        </div>
        <div class="infoadd-itemDueño">
            <small class="info-title">Dueño C.C.:</small>
            <input type="text" class="inputadd-text" name="idCliente" placeholder="Ingresa la cédula" required>
        </div>
        <div class="infoadd-itemEstado">
            <small class="info-title">Estado:</small>
            <select name="estado" class="inputadd-text" required>
                <option [value]="true">Activo</option>
                <option [value]="false">Inactivo</option>
            </select>
        </div>
        <div class="infoadd-itemURL">
            <small class="info-title">URL:</small>
            <input type="text" class="inputadd-text" name="foto" placeholder="Ingresa la URL de la foto" required>
        </div>
        <button type="submit" class="agregar-button">Agregar Mascota</button>
    </form>
</section>
