<form #veterinarioForm="ngForm" (ngSubmit)="agregarVeterinario(veterinarioForm)" class="agregar-container">
  <div class="infoadd-itemNombre">
    <small class="info-title">Nombre:</small>
    <input [(ngModel)]="nuevoVeterinario.nombre" name="nombre" class="inputadd-text" id="nombre" placeholder="Ingresa el nombre" required #nombre="ngModel">
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
      El nombre es requerido.
    </div>
  </div>
  
  <div class="infoadd-itemEspecialidad">
    <small class="info-title">Especialidad:</small>
    <input [(ngModel)]="nuevoVeterinario.nombreEspecialidad" name="nombreEspecialidad" class="inputadd-text" id="nombreEspecialidad" placeholder="Ingresa la especialidad" required #nombreEspecialidad="ngModel">
    <div *ngIf="nombreEspecialidad.invalid && (nombreEspecialidad.dirty || nombreEspecialidad.touched)" class="error">
      La especialidad es requerida.
    </div>
  </div>
  
  <div class="infoadd-itemCedula">
    <small class="info-title">Cédula:</small>
    <input [(ngModel)]="nuevoVeterinario.cedula" name="cedula" type="number" class="inputadd-text" id="cedula" placeholder="Ingresa la cédula" required #cedula="ngModel">
    <div *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)" class="error">
      La cédula es requerida.
    </div>
  </div>
  
  <div class="infoadd-itemContraseña">
    <small class="info-title">Contraseña:</small>
    <input [(ngModel)]="nuevoVeterinario.contrasena" name="contrasena" class="inputadd-text" id="contrasena" placeholder="Ingresa la contraseña" required #contrasena="ngModel">
    <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="error">
      La contraseña es requerida.
    </div>
  </div>
  
  <div class="infoadd-itemEstado">
    <small class="info-title">Estado:</small>
    <select [(ngModel)]="nuevoVeterinario.estado" name="estado" class="inputadd-text" required #estado="ngModel">
      <option [value]="true">Activo</option>
      <option [value]="false">Inactivo</option>
    </select>
    <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="error">
      El estado es requerido.
    </div>
  </div>
  
  <div class="infoadd-itemURL">
    <small class="info-title">URL:</small>
    <input [(ngModel)]="nuevoVeterinario.foto" name="url" class="inputadd-text" id="url" placeholder="Ingresa la URL de la foto de perfil" required #url="ngModel">
    <div *ngIf="url.invalid && (url.dirty || url.touched)" class="error">
      La URL de la foto es requerida.
    </div>
  </div>
  
  <button type="submit" class="agregar-button" [disabled]="veterinarioForm.invalid">Agregar Veterinario</button>
</form>