<form (ngSubmit)="agregarMascota()" class="agregar-container">
    <div class="infoadd-itemNombre">
      <small class="info-title">Nombre:</small>
      <input [(ngModel)]="nuevaMascota.nombre" name="nombre" class="inputadd-text" id="nombre" placeholder="Ingresa el nombre" required>
    </div>
    <div class="infoadd-itemEspecialidad">
      <small class="info-title">Especialidad:</small>
      <input [(ngModel)]="nuevaMascota.raza" name="raza" class="inputadd-text" id="raza" placeholder="Ingresa la raza" required>
    </div>
    <div class="infoadd-itemCedula">
      <small class="info-title">Cédula:</small>
      <input [(ngModel)]="nuevaMascota.edad" name="edad" type="number" class="inputadd-text" id="edad" placeholder="Ingresa la edad" required>
    </div>
    <div class="infoadd-itemContraseña">
      <small class="info-title">Contraseña:</small>
      <input [(ngModel)]="nuevaMascota.peso" name="peso" type="number" class="inputadd-text" id="peso" placeholder="Ingresa el peso" required>
    </div>
    <div class="infoadd-itemURL">
      <small class="info-title">URL:</small>
      <input [(ngModel)]="nuevaMascota.enfermedad" name="enfermedad" class="inputadd-text" id="enfermedad" placeholder="Ingresa la enfermedad" required>
    </div>
    <button type="submit" class="agregar-button">Agregar Mascota</button>
</form>
