<header class="top-bar">
    <a routerLink="/">
        <img src="../assets/isologoAzul.png" alt="Logo Azul">
    </a>
    <!-- Botones de navegación -->
    <nav>
        <div class="header-menu">
            <a routerLink="/admin/dashboard" class="header-menu-item">DASHBOARD</a>
            <a routerLink="/admin/mascotas" class="header-menu-item selected">MASCOTAS<div class="indicator"></div></a>
            <a routerLink="/admin/veterinarios" class="header-menu-item">VETERINARIOS</a>
            <a routerLink="/admin/clientes" class="header-menu-item">CLIENTES</a>
            <a routerLink="/admin/inicializacion"class="header-menu-item">INICIALIZACIÓN</a>
        </div>
    </nav>
    <div class="button-container">
        <a routerLink="/" class="buttonSinCuenta">CERRAR SESIÓN</a>
    </div>
</header>