.top-bar {
    background-color: #FFFFFFFF;
    text-align: left;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 9px #E4E4E4, 0px 0px 2px #E4E4E4;
    border-radius: 0px;
    z-index: 9999;
}

.top-bar img {
    height: 100px;
    margin-right: 10px;
    margin-left: 60px;
}

.header-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 471px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    opacity: 1;
}

.header-menu.hidden {
    display: none;
}

.header-menu .header-menu-item {
    padding: 18px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565E6CFF;
    border-radius: 0px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.header-menu .header-menu-item strong {
    font-weight: 700;
}

.header-menu .header-menu-item.selected {
    position: relative;
    font-weight: 700;
    color: #BFD5D8FF;
    text-decoration: none;
}

.header-menu .header-menu-item.selected:hover {
    color: #89989b;
}

.header-menu .header-menu-item:hover {
    color: #BFD5D8FF;
    font-weight: 700;
}

.header-menu .header-menu-item.selected .indicator {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background: #BFD5D8FF;
    border-radius: 0px;
    transition: transform 0.3s; 
}

.primerTitulo {
    position: absolute; 
    top: -40px; 
    left: 15%;
    width: 1190px; 
    height: 252px; 
    font-family: Poppins;
    text-align: center;
    justify-content: center;
    font-size: 55px; 
    line-height: 84px; 
    font-weight: 500; 
    color: #323842FF;
}

.container-veterinarios {
    position: absolute; 
    top: 120px; 
    left: 0px; 
    height: 1000px; 
    background: #FFFFFF;
    border-radius: 0px; 
    width: 100%;
    display: flex;
    z-index: 9997;
}

.button-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
}

.buttonSoyPVC {
    width: 113px;
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFFFF;
    background: #BFD5D8FF;
    opacity: 1;
    border: none;
    border-radius: 22px;
    text-decoration: none;
}

.buttonSoyPVC:hover {
    color: #FFFFFFFF;
    background: #89989b;
}

.buttonSoyPVC:hover:active {
    color: #FFFFFFFF;
    background: #BFD5D8FF; 
}

.buttonSoyPVC:disabled {
    opacity: 0.4; 
}

.buttonSinCuenta {
    font-family: Poppins;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    margin-left: 20px;
}

.buttonSinCuenta:hover {
    font-weight: bold;
}