.content {
    flex: 1;
    padding-bottom: 1080px;
}

.primerTitulo {
    position: absolute; 
    top: 90px; 
    left: 50%;
    transform: translateX(-50%);
    width: 1190px; 
    height: 252px; 
    font-family: Poppins;
    text-align: center;
    justify-content: center;
    font-size: 55px; 
    line-height: 84px; 
    font-weight: 500; 
    color: #323842FF;
}