<header>
    <!-- Componente que representa el encabezado de la página de inicio -->
    <app-header-home></app-header-home>
</header>
<section class="content">
    <!-- Título principal que indica al usuario que debe elegir su cuenta -->
    <p class="primerTitulo">Escoge tu cuenta</p>
    
    <!-- Contenedor para el formulario de sesión del cliente -->
    <app-container-sesion-cliente></app-container-sesion-cliente>
    
    <!-- Contenedor para el formulario de sesión del veterinario -->
    <app-container-sesion-veterinario></app-container-sesion-veterinario>
    
    <!-- Contenedor para el formulario de sesión del administrador -->
    <app-container-sesion-admin></app-container-sesion-admin>
</section>
