<div class="carrusel-container" *ngIf="medicamentos.length > 0">
    <!-- Contenedor del carrusel, solo se muestra si hay medicamentos disponibles -->
    
    <button class="carrusel-prev" (click)="cambiarMedicamento(-1)">
        <!-- Botón para cambiar al medicamento anterior -->
        <img src="../assets/previous.png" alt="Regreso"> <!-- Icono para regresar -->
    </button>
    
    <div class="carrusel">
        <!-- Contenedor principal del carrusel que alberga los medicamentos -->
        
        <div class="medicamento-item" 
             *ngFor="let medicamento of medicamentos; let i = index" 
             [ngStyle]="{'display': i === index ? 'block' : 'none'}">
            <!-- Se utiliza *ngFor para iterar sobre el array de medicamentos -->
            <!-- Solo el medicamento cuyo índice coincida con 'index' se mostrará -->
            
            <div class="medicamento-info">
                <!-- Contenedor de información del medicamento -->
                
                <div class="info-itemNombre">
                    <small class="info-title">Nombre:</small>
                    <label class="info-label">{{ medicamento.nombre }}</label>
                    <!-- Muestra el nombre del medicamento -->
                </div>
                
                <div class="info-itemPrecioVenta">
                    <small class="info-title">P. venta:</small>
                    <label class="info-label">{{ medicamento.precio_venta }}</label>
                    <!-- Muestra el precio de venta del medicamento -->
                </div>
                
                <div class="info-itemPrecioCompra">
                    <small class="info-title">P. compra:</small>
                    <label class="info-label">{{ medicamento.precio_compra }}</label>
                    <!-- Muestra el precio de compra del medicamento -->
                </div>
                
                <div class="info-itemUnidadesDisponibles">
                    <small class="info-title">Uni. Disp.:</small>
                    <label class="info-label">{{ medicamento.unidades_disponibles }}</label>
                    <!-- Muestra las unidades disponibles del medicamento -->
                </div>
                
                <div class="info-itemUnidadesVendidas">
                    <small class="info-title">Uni. Vend.:</small>
                    <label class="info-label">{{ medicamento.unidades_vendidas }}</label>
                    <!-- Muestra las unidades vendidas del medicamento -->
                </div>
            </div>
        </div>
    </div>
    
    <button class="carrusel-next" (click)="cambiarMedicamento(1)">
        <!-- Botón para cambiar al siguiente medicamento -->
        <img src="assets/next.png" alt="Siguiente"> <!-- Icono para avanzar -->
    </button>
</div>
