<footer class="footer"> <!-- Inicio del pie de página -->
    <img src="../assets/logotipoRosado.png" alt="Logo Footer"> <!-- Logo de la empresa que aparece en el pie de página -->
    
    <p class="direccion">Carrera 13 #140 - 52A, Bogotá, Colombia</p> <!-- Dirección física de la empresa -->
    
    <p class="correo">info@petvetc.com</p> <!-- Correo electrónico de contacto -->
    
    <p class="derechos">© 2024 SLM, Inc.</p> <!-- Información sobre derechos de autor -->
    
    <div class="iconos"> <!-- Contenedor para los íconos de redes sociales u otros -->
        <img src="../assets/iconos.png" alt="Logo Footer"> <!-- Íconos que representan redes sociales u otros servicios -->
    </div>
</footer>
