<!-- Enlace que redirige a la ruta de inicio de sesión para veterinarios -->
<a routerLink="/iniciarSesion/veterinario">
    <!-- Contenedor que contiene el texto y la imagen para veterinarios -->
    <div class="container-veterinario">
        <!-- Texto que indica que el usuario es un veterinario -->
        <p class="text-cliente">¡Soy Vet!</p>
        <!-- Imagen representativa de un veterinario -->
        <img class="img-cliente" src="../assets/veterinarioInicio.png" alt="">
    </div>
</a>
