<header *ngIf="userType === 'admin'">
  <app-header-admin-mascotas [userType]="'admin'"></app-header-admin-mascotas>
</header>
<header *ngIf="userType === 'vet'">
  <app-header-admin-mascotas [userType]="'vet'"></app-header-admin-mascotas>
</header>
<header *ngIf="userType === 'cliente'">
  <app-header-admin-mascotas [userType]="'cliente'"></app-header-admin-mascotas>
</header>

<section class="content">
  <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
  <p *ngIf="userType === 'vet'" class="primerTitulo">Hola, vet</p>
  <p *ngIf="userType === 'cliente'" class="primerTitulo">¡Gracias por confiar en nosotros!</p>
  <p class="segundoTitulo">Navega por las mascotas:</p>
  <form class="buscador-form">
    <input name="nombre" class="buscador-input" placeholder="Buscar por nombre" required>
    <button type="submit" class="buscador-button">Buscar</button>
  </form>
  <app-mascota-item
    [mascotas]="mascotas"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage">
  </app-mascota-item>
</section>