<div class="container-login">
    <p class="subTitulo">¡Soy Vet!</p>
    <p class="subTitulo2">Ingresa tus datos</p>
    <form (ngSubmit)="loginVet()" #vetForm="ngForm">
        <div class="form-group">
            <label for="cedula">Cédula</label>
            <input type="number" id="cedula" name="cedula" [(ngModel)]="vet.cedula" placeholder="Ej. 123456" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" [(ngModel)]="vet.password" placeholder="Ingresa tu contraseña" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Ver mis mascotas" [disabled]="!vetForm.form.valid">
        </div>
    </form>
</div>
