<!-- Componente de encabezado de la página -->
<app-header-home></app-header-home>
<section class="content">
    <!-- Título principal de la sección -->
    <p class="primerTitulo">¡Habla con PetBot!</p>
    <!-- Aside izquierdo que contiene una imagen de contacto -->
<aside class="image-gallery-left">
    <img src="../assets/circuloMascotaContacto1.png" alt="Imagen 1">
</aside>
    <app-chat-bot></app-chat-bot>
    <!-- Aside derecho que contiene otra imagen de contacto -->
    <aside class="image-gallery-right">
        <img src="../assets/circuloMascotaContacto2.png" alt="Imagen 2">
    </aside>
</section>


