<div class="container-inicializar">
  <p class="subTitulo">Cantidad de tratamientos por tipo de medicamento administrado en el último mes:</p>

  <table *ngIf="topTratamientos.length > 0" class="tabla-tratamientos">
    <thead>
      <tr>
        <th>#</th>
        <th>ID del Tratamiento</th>
        <th>Fecha de aplicación</th>
        <th>Cantidad de Medicamentos</th>
      </tr>
    </thead>
    <tbody>
      <!-- Muestra solo 3 tratamientos por página -->
      <tr *ngFor="let tratamiento of paginatedTratamientos(); let i = index">
        <td>{{ currentPage * itemsPerPage + i + 1 }}</td>
        <td>{{ tratamiento[0].nombre }}</td>
        <td>{{ tratamiento[0].fecha }}</td>
        <td>{{ tratamiento[1] }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de paginación -->
  <div class="paginacion-container">
    <button (click)="previousPage()" [disabled]="currentPage === 0">Atrás</button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage + 1 === totalPages">Adelante</button>
  </div>
</div>
