<div class="container-inicializar"> <!-- Contenedor principal para la sección de inicialización -->
  <p class="subTitulo">Cantidad de mascotas activas (en tratamiento) en la veterinaria:</p> <!-- Título que indica lo que se está mostrando -->
  <p class="numero">{{ mascotasActivas }}</p> <!-- Muestra el número de mascotas activas en tratamiento utilizando una interpolación de Angular -->
  <!-- <p class="numero">0</p> --> <!-- Comentado: esta línea podría ser una opción de fallback para mostrar '0' si no hay mascotas activas -->
</div>
