<header>
    <!-- Componente de encabezado que muestra la navegación principal de la aplicación -->
    <app-header-home></app-header-home>
</header>

<section class="content">
    <!-- Mensaje de bienvenida para los veterinarios -->
    <p class="primerTitulo">¡Gracias por ser Vet!</p>

    <!-- Imágenes decorativas de perros y gatos -->
    <img class="perroPortadaRosa" src="../assets/goldenPortadaRosa.png" alt="Perro Principal Rosa">
    <img class="perroPortada" src="../assets/goldenPortada.png" alt="Perro Principal">
    <img class="gatoPortadaAzul" src="../assets/gatoPortadaAzul.png" alt="Gato Principal Azul">
    <img class="gatoPortada" src="../assets/gatoPortada.png" alt="Gato Principal">

    <!-- Componente para el formulario de inicio de sesión del veterinario -->
    <app-container-sesion-form-veterinario></app-container-sesion-form-veterinario>
</section>
