<header *ngIf="userType === 'admin'">
  <app-header-admin-mascotas></app-header-admin-mascotas>
</header>
<header *ngIf="userType === 'vet'">
  <app-header-vet-mascotas></app-header-vet-mascotas>
</header>
<header *ngIf="userType === 'cliente'">
  <app-header-cliente></app-header-cliente>
</header>
<section class="content">
    <p *ngIf="userType === 'admin'" class="primerTitulo">Hola, admin</p>
    <p *ngIf="userType === 'vet'" class="primerTitulo">Hola, vet</p>
    <p *ngIf="userType === 'cliente'" class="primerTitulo">¡Gracias por confiar en nosotros!</p>
    <p class="segundoTitulo">Aquí está la información de la mascota:</p>
    <p class="tercerTitulo">Dar el medicamento:</p>
    
    <div class="container-informacion">
      <form [formGroup]="mascotaForm" class="containerMascota">    
        <p *ngIf="userType === 'admin' || userType === 'vet'" class="tituloEditar">Editar</p>
        <p *ngIf="userType === 'admin' || userType === 'vet'" class="tituloEliminar">Eliminar</p>
        
        <div class="info-item">
          <small class="info-title">Nombre:</small>
          <input class="info-label" formControlName="nombre">
        </div>
  
        <img *ngIf="mascota?.estado === false" class="estadoimg" src="/assets/wrong.png" alt="Estado Inactivo">
        <img *ngIf="mascota?.estado === true" class="estadoimg" src="/assets/check.png" alt="Estado Activo">
  
        <div class="info-itemRaza">
          <small class="info-title">Raza:</small>
          <input class="info-label" formControlName="raza">
        </div>
  
        <div class="info-itemEdad">
          <small class="info-title">Edad:</small>
          <input class="info-label" formControlName="edad">
        </div>
  
        <div class="info-itemPeso">
          <small class="info-title">Peso:</small>
          <input class="info-label" formControlName="peso">
        </div>
  
        <div class="info-itemEnfermedad">
          <small class="info-title">Enfermedad:</small>
          <input class="info-label" formControlName="enfermedad">
        </div>
  
        <div class="info-itemDueño">
          <small class="info-title">Dueño C.C.:</small>
          <input class="info-label" formControlName="cliente">
        </div>
  
        <div class="info-itemEstado">
          <small class="info-title">Estado:</small>
          <select id="state" class="info-select" formControlName="estado">
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>
        </div>
  
        <div class="info-itemFoto">
          <small class="info-title">URL Foto:</small>
          <input class="info-label" formControlName="foto">
        </div>
  
        <img class="mascotaimg" [src]="mascotaForm.get('foto')?.value || '/assets/errorMascota.png'" alt="Foto de la mascota">

  
        <div *ngIf="userType === 'admin' || userType === 'vet'" class="container-botones">
          <button class="editar-btn" id="editarBtn" type="button" (click)="toggleEditMode()">
            <span class="icon">✎</span>
            <span class="text">{{ isEditMode ? 'Guardar' : 'Editar todo' }}</span>
          </button>
        </div>
      </form>
  
      <!-- Botón para eliminar -->
      <form *ngIf="userType === 'admin' || userType === 'vet'">
        <button *ngIf="userType === 'admin' || userType === 'vet'" class="eliminar-btn" id="eliminarBtn" type="button" (click)="toggleEliminar()">
          <span class="icon">x</span>
          <span class="text">Eliminar</span>
        </button>
      </form>
    </div>  
  </section>
  