<div class="container-login"> <!-- Contenedor principal para el formulario de inicio de sesión -->
  <p class="subTitulo">¡Ya cuido a mi mascota!</p> <!-- Título que indica al usuario que está en la sección de inicio de sesión -->
  <p class="subTitulo2">Ingresa tu cédula</p> <!-- Subtítulo que solicita al usuario ingresar su cédula -->
  
  <form (ngSubmit)="loginCliente()" #loginForm="ngForm"> <!-- Formulario que se enviará al hacer clic en el botón de envío, llama a loginCliente() -->
    <div class="form-group"> <!-- Grupo de formulario para la cédula -->
      <label for="id">Cédula</label> <!-- Etiqueta que indica el propósito del campo de entrada -->
      <input type="text" id="id" name="id" [(ngModel)]="id" placeholder="Ej. 101234567" required> <!-- Campo de entrada para la cédula, vinculado al modelo -->
    </div>
    
    <div class="form-group"> <!-- Grupo de formulario para el botón de envío -->
      <input type="submit" value="Ver mis mascotas"> <!-- Botón de envío que, al hacer clic, envía el formulario -->
    </div>
  </form>
</div>

<a class="noButton" routerLink="/registro">No tengo cuenta</a> <!-- Enlace que redirige al usuario a la página de registro si no tiene cuenta -->
